*
{
	margin: 0px;
	padding: 0px;
}

body
{
	background-image: url("../sources/back.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo
{
	width: 250px;
	height: 250px;
	background-image: url("../sources/logo.png");
	margin-left: 50px;
	margin-top: 50px;
	float: left;
	background-size: cover;
}

.info
{
	height: 250px;
	width: calc(100% - 350px);
	float: left;
	margin-top: 50px;
	text-align: right;
}

.info>h1
{
	margin-top: 25px;
	margin-right: 15px;
}

.midL
{
	margin-left: 50px;
	margin-top: 60px;
	width: calc(50% - 50px);
	float: left;
}

.midR
{
	margin-top: 60px;
	width: calc(50% - 100px);
	height:445px;
	margin-bottom: 50px; 
	background: #2A6885;
	float: left;
	padding: 25px;
	overflow-y: scroll;
	color: white;
}

.btnNav
{
	height: 80px;
	width: 70%;
	margin-top: 35px;
	margin-left: 15%;
	float: left;
	background: #183A4B;
	border-radius: 15px;
	color: white;
}

.profile, .uniInfo
{
	height: 95px;
	background: rgba(1,1,1,0.5);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 15px;
}

.profile>img
{
	height: 95px;
	width: 95px;
	float: left;
	margin-right: 10px;
	border-radius: 15px;
}

.uniInfo
{
	text-align: center;
}

.question
{
	margin-bottom: 15px;
}

#getResults
{
	height: 55px;
	width: 250px;
	background: #183A4B;
	margin-left: calc(50% - 125px);
	color: white;
}

.resText
{
	font-size: 1.2em;
	line-height: 55px;
}

#initialMsg
{
	text-align: center;
	line-height: 445px;
	font-size: 1.5em;
}

.der
{
	width: 50% !important;
	text-align: justify !important;
	float: left;
}

.izq
{
	width: 50% !important;
	text-align: justify !important;
	float: left
}

.imgH1, .imgH2, .imgH3, .imgH4, .imgH5, .imgH6, .imgH7
{
	width: 45% !important;
	height: 55%;
	background-size: cover;
	margin-bottom: 	55px;
	float: left!important;
	margin-left: 25px;
}

.imgH1
{
	background-image: url("../sources/h1.jpg");
}

.imgH2
{
	background-image: url("../sources/h2.jpg");
	float: right;
}

.imgH3
{
	background-image: url("../sources/h3.jpg");
}

.imgH4
{
	background-image: url("../sources/h4.jpg");
	float: right;
}

.imgH5
{
	background-image: url("../sources/h5.jpg");
}

.imgH6
{
	background-image: url("../sources/h6.jpg");
	float: right;
}

.imgH7
{
	background-image: url("../sources/h7.jpg");
}